{% extends 'base.html.twig' %}

{% block title %}New Tags{% endblock %}

{% block body %}

    {{ include('tags/_form.html.twig') }}

    <a href="{{ path('app_tags_index') }}">back to list</a>
{% endblock %}
