{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}

    {{ include('produit/_form.html.twig') }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}